* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {  
  height: 100vh;
  font-family: 'Poppins', sans-serif;  
  margin: 0 auto;
  background-color: #FEF6FF;
  text-align: center;
}
a, a:visited, a:active {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #000;
}
.movie-container {
  padding-bottom: 2rem;
  max-width: 60rem;
  margin: 0 auto;
}
.movie-card {
  max-width: 15rem;  
  border: 1px solid #00000011;
  border-radius: 0.2rem;
  background-color: #fff;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}
.movie-card:hover, .movie-card button:hover {
  box-shadow: 2px 2px 2px -1px #00000044;
}
.movie-card img {
  object-fit: contain;
  width: 80%;
  margin: 0 auto;
}
.movie-card button {
  background-color: gainsboro;
  border: 0;
  padding: 0.2rem;
  border-radius: 0.2rem;
  width: fit-content;
  margin: 0.5rem auto;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.movie-card a {
  font-size: 0.7rem;
}
.title {
  padding: 2rem 0;
  text-align: center;
  max-width: 25rem;
  margin: 0 auto;
}
form {
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  max-width: 20rem;
  margin: 0 auto;
}
form button {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0;
}
form input {
  padding: 0.2rem;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid;
}
form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
@media (min-width: 40rem) {
  .movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}