.Navbar {  
  width: 100%;
  padding: 1rem;  
  background-color: #fff; 

}
.navbar-container {
 font-size: 0.85rem;
 display: flex;
 justify-content: space-evenly; 
 align-items: center;
}
.navbar-container button {
  border: 0;
  background-color: #4A4453;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: inherit;
  cursor: pointer;  
  transition: all 0.3s ease;
}
.navbar-container button:hover {
  box-shadow: 2px 2px 2px -1px #00000022;
}
.navbar-container a {
  border-bottom: 0px solid;
}
.navbar-container a:hover {
  border-bottom: 1px solid #4A4453;
}
@media (min-width: 30rem) {
  .Navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar-container a {
    margin-right: 1rem;
  }
}